<app-loader></app-loader>

<div class="page">
    <div [className]="pageclass">
        <div class="tabel-container">
        <!-- Tabel -->
        <mat-table [dataSource]="dataSource" matSort>
            <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.id}} </mat-cell>
          </ng-container>
            <ng-container matColumnDef="kodekantor">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Kode Kantor </mat-header-cell>
              <mat-cell *matCellDef="let element" > {{element.kodekantor}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="namakantor">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nama Kantor </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.namakantor}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="alamat">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Alamat Kantor </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.alamat}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="kodepos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Kodepos </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.kodepos}} </mat-cell>
            </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef >Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a mat-icon-button="" matTooltip="Detail" (click)="showDetail(row)"><i class="fa fa-eye text-info"></i></a>
              <a mat-icon-button="" matTooltip="Hapus" (click)="hapusDataKantor(row)"><i class="fa fa-trash text-danger"></i></a>
            </mat-cell>
          </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"
                            class="bg-light custom-mat-header-row text-white"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-hover custom-mat-row text-white"></mat-row>
          </mat-table>



        </div>
        <div class="side-container">


          <mat-toolbar color="warn">
            <mat-toolbar-row>
              <h6 class="small">Data Kantor</h6>
              <span class="toolbar-spacer"></span>
              <button mat-icon-button="" (click)="closeside()">
                <i class="fa fa-close"></i>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
            <div class="form-container" [formGroup]="formdatakantor">
                <mat-form-field>
                  <input matInput placeholder="Kode Kantor" formControlName="kodekantor">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Nama Kantor" formControlName="namakantor">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Alamat Kantor" formControlName="alamat"></textarea>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="Kodepos Kantor" formControlName="kodepos">
                    </mat-form-field>

                    <div class="button-container mt-4">
                        <button mat-raised-button class="mr-2" (click)="addDatakantor(formdatakantor.value)">Simpan</button>
                        <button mat-raised-button (click)="batal()">batal</button>
                    </div>
              </div>
        </div>



      </div>


    <mat-toolbar>
        <mat-toolbar-row>


          <mat-paginator #paginator
                         [length]="datakantorDB.data.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]" class="bg-transparent" >
          </mat-paginator>
          <span class="toolbar-spacer"></span>
          <button mat-icon-button="" (click)="openside()">
            <i class="fa fa-lg fa-plus"></i>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
</div>



<!-- MODAL -->
<app-mymodal [(visiblekah)]="showmodal">
  <div class="dialog" style="max-width: 300px; ">
    <mat-toolbar color="warn" style="height: 32px; padding-left: 2px; padding-right: 2px">
      <h5>&nbsp;Hapus Data</h5>
      <span class="toolbar-spacer"></span>
      <button (click)="showmodal = !showmodal" mat-icon-button="" class="pull-right"><i class="fa fa-close"></i></button>
    </mat-toolbar>

    <div class="dialog-body">
      <span><h6 class="small"><i class="fa fa-lg fa-warning"> Yakin Hapus Data  Kantor <b>{{datakantor.kodekantor}}</b> &nbsp;?</i></h6></span>
    </div>
    <mat-toolbar style="height: 45px">
      <span class="toolbar-spacer"></span>
      <button mat-raised-button="" (click)="doDelete()" class="mr-2">yes</button>
      <button mat-raised-button="" (click)="showmodal = !showmodal">no</button>
    </mat-toolbar>
  </div>

</app-mymodal>
