<div [className]="overlay_class">
  <div class="outer">
    <div class="middle">
      <div class="loader-content">
        <!--<h2 >Autenticating.....</h2>
         <mat-progress-bar
           color="warn"
           mode="indeterminate"
           [value]="value"
           [bufferValue]="bufferValue">
         </mat-progress-bar> -->
        <div class="loading-container">
          <div class="loading"></div>
          <div id="loading-text">{{textstatus}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
