/***************Modal *****************/

.cmodal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  left: 0px;
  top: 64px;
  width: 100%; /* Full width */
  //height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}




@media screen and (max-width: 768px) {


}

